<!doctype html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagina Inicial</title>
</head>


<h1>Dayoo</h1>
</br>
<hr/>

<form action="/cadastro">

<button type="submit">Cadastrar</button>

</form>

</br>

<form action="/login">

<button type="submit">Login</button>

</form>

</br>

<form action="/incluir_item">

<button type="submit">Incluir Item</button>

</form>

</br>

<form action="/lance">

<button type="submit">Lances</button>

</form>

</br>

</body>
</html>