<div class="container_destaques">
        <h5>Destaques</h5>
        <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                        <ul class="imageGallery">
                                <li>
                                        <img class="activator" src="static/img/produtos/D_Q_NP_135621-MLB20818010479_072016-Q.jpg">
                                </li>
                                <li>
                                        <img class="activator" src="static/img/produtos/D_Q_NP_630605-MLB27578227435_062018-Q.jpg">
                                </li>
                                <li>
                                        <img class="activator" src="static/img/produtos/D_Q_NP_915816-MLB27543209671_062018-Q.jpg">
                                </li>
                        </ul>

                </div>
                <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Chuteirinha Bebê Santos Branca E Preta</span>

                </div>

        </div>

        <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                                <ul class="imageGallery">
                                        <li>
                                                <img class="activator" src="static/img/produtos/D_Q_NP_135621-MLB20818010479_072016-Q.jpg">
                                        </li>
                                        <li>
                                                <img class="activator" src="static/img/produtos/D_Q_NP_630605-MLB27578227435_062018-Q.jpg">
                                        </li>
                                        <li>
                                                <img class="activator" src="static/img/produtos/D_Q_NP_915816-MLB27543209671_062018-Q.jpg">
                                        </li>
                                </ul>

                        </div>
                        <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Chuteirinha Bebê Santos Branca E Preta</span>

                        </div>

                </div>

</div>