<nav class="nav-extended">
        <div class="nav-wrapper">
            <div class="container" style=" height: 100%; ">

                    <a href="#!" class="brand-logo"><img src="static/img/logo.png" alt="Bricks"></a>
                    <div class="search_container">
                            <form action="buscar">
                                    <div class="input-field">
                                      <input id="search" name="pesquisa" type="search" required>
                                      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                      <i class="material-icons">close</i>
                                    </div>
                                  </form>
                    </div>
                    <ul class="right hide-on-med-and-down">

                            <!--<li><a  class='dropdown-trigger waves-effect waves-light' href="#" data-target='dropdown1'>Minha conta</a></li> -->
                            <li><a  class=' waves-effect waves-light' href="/login" >Criar minha conta</a></li>
                            <li><a  class=' waves-effect waves-light' href="/login" >Entrar</a></li>
                            </br><li><a  class=' waves-effect waves-light' href="/incluir_item" >Incluir Item</a>
                            <a  class=' waves-effect waves-light' href="/lances" >Lances</a></li>

                            <ul id='dropdown1' class='dropdown-content'>
                              <li><a href="#!">Meus Lances</a></li>
                              <li><a href="#!">Configurações</a></li>

                            </ul>

                    </ul>

            </div>

        </div>

        <div class="nav-content">
                <div class="container" style=" height: 100%; ">
                        <div class="nav-wrapper">
                                <ul class="hide-on-med-and-down">
                                        <li><a href="#" class="waves-effect waves-light"><i class="material-icons left">domain</i>Imoveis</a></li>
                                        <li><a href="#" class="waves-effect waves-light"><i class="material-icons left">devices_other</i>Eletrônicos</a></li>
                                        <li><a href="#" class="waves-effect waves-light"><i class="material-icons left">local_mall</i>Roupas</a></li>
                                        <li><a href="#" class="waves-effect waves-light"><i class="material-icons left">build</i>Peças</a></li>
                                </ul>
                        </div>
                </div>
        </div>
      </nav>
</nav>