<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escâmbio</title>
</head>
<body>
<h1>Escâmbio</h1></br>


<h3>Ofertas enviadas-------------------------------------------------</h3></br></br>

{% for i in itens_enviados %}

    {{itens_enviados}}
    <img src = '/{{i.imagem1}}' class="img-responsive" height="200" width="200" />
    <img src = '/{{i.imagem2}}' class="img-responsive" height="200" width="200" />
    <img src = '/{{i.imagem3}}' class="img-responsive" height="200" width="200" />
    <img src = '/{{i.imagem4}}' class="img-responsive" height="200" width="200" />
    <img src = '/{{i.imagem5}}' class="img-responsive" height="200" width="200" />

    <h3>Titulo: {{ i.titulo }}</h3>
    <h3>Descriçâo: {{ i.descricao }}</h3>
    <h3>Visualizado: {{ i.visualizado }}</h3>
    <h3>Categoria: {{ i.categorias }}</h3>

    <h3>POR ..............................................................................................................................................................................................</h3>

{% for i in itens_recebidos %}

    {{itens_recebidos}}
    <img src = '/{{i.imagem1}}' class="img-responsive" height="200" width="200" />
    <img src = '/{{i.imagem2}}' class="img-responsive" height="200" width="200" />
    <img src = '/{{i.imagem3}}' class="img-responsive" height="200" width="200" />
    <img src = '/{{i.imagem4}}' class="img-responsive" height="200" width="200" />
    <img src = '/{{i.imagem5}}' class="img-responsive" height="200" width="200" />

    <h3>Titulo: {{ i.titulo }}</h3>
    <h3>Descriçâo: {{ i.descricao }}</h3>
    <h3>Visualizado: {{ i.visualizado }}</h3>
    <h3>Categoria: {{ i.categorias }}</h3>


{% endfor %}


{% endfor %}





<h3>Ofertas recebidas------------------------------------------------</h3></br></br>


</body>
</html>


